.container-add-image {
    margin: 48px auto;
    max-width: 1200px;
    width: 90%;
}
.add-title {
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  display: flex;
  align-items: center;
 }

.form-inputs {
  display: flex;
}
.image-input {
  display: flex;
}
.image-input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 212px;
  border: 2px solid var(--gray-100);
  border-radius: 8px;
  cursor: pointer;
}
.image-input-span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--gray-500);
}

.img-file {
  max-width: 288px;
  width: 100%;
  height: 212px;
  border-radius: 8px;
  display: none;
}

.img-file {
  max-width: 288px;
  width: 100%;
  height: 212px;
  border-radius: 8px;
}

.text-inputs {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  color: var(--gray-500);
  outline: 0;
}

.input-add-title {
  width: 326px;
  height: 54px;
  border: 2px solid var(--gray-100);
  border-radius: 8px;
  padding-left: 16px;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;
  overflow-wrap: break-word;
}

.input-add-description {
  width: 414px;
  height: 131px;
  margin-bottom: 16px;
  border: 2px solid var(--gray-100);
  border-radius: 8px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.submit-button {
display: flex;
align-items: center;
justify-content: center;
margin-left: 296px;
margin-bottom: 60px;
width: 121px;
height: 56px;
border: none;
background-color: var(--red-300);
color: var(--white-100);
border-radius: 8px;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
cursor: pointer;

&:hover {
 background-color: var(--red-100);
}
&:active {
background-color: var(--red-300);
}

}


.tourist-spots-title {
margin-bottom: 32px;
font-family: "Poppins", sans-serif;
font-size: 32px;
line-height: 120%;
}

.card-new {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  max-width: 1200px;
  width: 90%;
}
.result-card {
  max-width: 576px;
  height: 212px;
  display: flex;
  background: var(--white-100);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.result-card-image {
  width: 288px;
  height: 212px;
  border-radius: 8px;
}

.result-card-title {
  padding: 24px 24px 35px;
  display: flex;
  width: 240px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: var(--gray-600);
}
.result-card-description {
width: 240px;
height: 96px;
padding-left: 24px;
font-family: "Roboto", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--gray-500);
overflow-y: scroll;
overflow-wrap: break-word;

&::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  border: 1px solid var(--white-100);
  word-wrap: normal;
}
&::-webkit-scrollbar-thumb {
  background-color: var(--gray-100);
  border-radius: 6px;

}

}

@media screen and (max-width: 1024px) {
    .card-new {
        width: 75%;
    }


    .result-card {
      width: 343px;
      height: 424px;
      flex-direction: column;
    }

    .result-card-image {
      width: 343px;
      height: 212px;
      border-radius: 8px;
    }

    .result-card-title {
        margin-left: auto;
        margin-right:auto;
    }

    .result-card-description {
      margin-left: 50px;
    }

  }



  @media screen and (max-width:540px) {
     .form-inputs {
      flex-direction: column;
      grid-row-gap: 16px;
     }

     .text-inputs {
      margin-left: 0px;

    }

    .input-add-title {
      width: 343px;
      height: 56px;

    }
    .input-add-description {
      width: 343px;
      height: 136px;
    }

    .submit-button {
      width: 343px;
      height: 56px;
      margin-left: 0px;
    }

    .card-new {
      display: flex;
      flex-direction: column;
      grid-row-gap: 16px;
    }

    .result-card-text {
      margin-left: auto;
      margin-right: auto;
    }

    .result-card-title {
      display: inline-block;
    }

    .result-card-description {
      margin-left: auto;
    }



  }

  @media screen and (max-width:360px) {
    .input-add-title {
      width: 326px;
    }

    .input-add-description {
      width: 326px;
    }

    .submit-button {
      width: 326px;
    }

    .result-card {
      width: 326px;
    }

     .result-card-image {
      width: 326px;
    }

  }

  @media screen and (max-width:280px) {
    .input-add-title {
      width: 252px;
    }

    .input-add-description {
      width: 252px;
    }

    .submit-button {
      width: 252px;
    }

     .result-card {
      width: 252px;
    }

    .result-card-image {
      width: 252px;
    }


  }
